/* Custome css for footer on Small Screen*/
.crs-footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: #222d33;
    box-shadow: 0 -0.33px 0 0 rgba(0, 0, 0, 0.35);
    z-index: 1;
    margin-top:50%;
  }
  .crs-right-reserved{
    font-size: 13px;
    /* border: 1px solid black; */
  }
  .title-center {
    flex: 1 1 auto;
    text-align: center;
  }
  /* Custome css for footer on Small Screen*/
  
  
  /* Media query for small screen */
  
  @media only screen and (min-width: 851px) {
    #fadeshow2 { display: none; }   
  }
  
  /* Media query for small screen */
  
  
  