<div id="fadeshow2">
    <div class="crs-footer">
      <div>
        <span class="title-center"> <a href="http://shital.com/" target="_blank"><img src="../../../assets/CRS-Inc.-logo"  style="height: 64px; width: 132px; margin-top:20px;"/></a></span> 
      </div>
          <div>
                  <span class="title-center">{{dateAndTime | date:"medium"}}</span>
          </div>
      <div>
        <span class="title-center crs-right-reserved"><b>Copyright</b> © 2018 <a href="http://shital.com/" target="_blank" style="color:black;text-decoration:none;"> CRS Applicatin Systems Pvt Ltd.</a><br> All rights reserved.</span>
      </div>
    </div>
  </div>
  
  
  